.box-1 {
    width: 90px;
    height: 150px;
    padding: 10px;
    margin-right: 10px;
    font-size: 40px;
    font-family: Tahoma;
    text-align: left;
    border-left: 10px dotted #D0D0FF;
    padding-left: 10px;  
    background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet); 
}

.box-1:hover, .box-1:active{
    color: goldenrod;
    background-color: yellow;
    cursor: pointer;
}
.box-2 {
    background-color: #eeeff2;
    width: 90px;
    height: 150px;
    padding: 10px;
    margin-right: 10px;
    font-size: 40px;
    font-family: Tahoma;
    text-align: left;
    border-left: 10px dotted #D0D0FF;
    padding-left: 10px; 
    transition: width 2s;  
}
.box-2:hover{
    width: 200px;
}
.box-2:hover, .box-2:active{
    color: goldenrod;
    background-color: yellow;
    cursor: pointer;
    
}
.box-3 {
    background-color: #eeeff2;
    width: 90px;
    height: 150px;
    padding: 10px;
    margin-right: 10px;
    font-size: 40px;
    font-family: Tahoma;
    text-align: left;
    border-left: 10px dotted #D0D0FF;
    padding-left: 10px;   
    animation-name: example;
    animation-duration: 4s;
}
@keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
}

.box-3:hover, .box-3:active{
    color: goldenrod;
    background-color: yellow;
    cursor: pointer;
}
.box-4{
    background-color: #eeeff2;
    width: 90px;
    height: 150px;
    padding: 10px;
    margin-right: 10px;
    font-size: 40px;
    font-family: Tahoma;
    text-align: left;
    border-left: 10px dotted #D0D0FF;
    padding-left: 10px;   
}
.box-4:hover, .box-4:active{
    color: goldenrod;
    background-color: yellow;
    cursor: pointer;
}
.box-5 {
    background-color: #eeeff2;
    width: 90px;
    height: 150px;
    padding: 10px;
    margin-right: 10px;
    font-size: 40px;
    font-family: Tahoma;
    text-align: left;
    border-left: 10px dotted #D0D0FF;
    padding-left: 10px;   
    color: white;
    text-shadow: 2px 2px 4px #000000;
}
.box-5:hover, .box-5:active{
    color: goldenrod;
    background-color: yellow;
    cursor: pointer;
}
.box-6 {
    background-color: #eeeff2;
    width: 90px;
    height: 150px;
    padding: 10px;
    margin-right: 10px;
    font-size: 40px;
    font-family: Tahoma;
    text-align: left;
    border-left: 10px dotted #D0D0FF;
    padding-left: 10px;
    display: flex;
    align-content: flex-end;
}
.box-6:hover, .box-6:active{
    color: goldenrod;
    background-color: yellow;
    cursor: pointer;
    
}

#box{
    display: flex;
    align-content: space-between;
    align-items:flex-start;
    flex-direction: row;
    flex-flow:row;
    flex-wrap: wrap;
    
}

@font-face {
    font-family: myFirstFont;
    src: url(sansation_light.woff);
 }
 
 * {
    font-family: myFirstFont;
 }